:host {
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: #0000ff24;
  height: 100%;
}

svg {
  height: 100%;
  max-width: 100%;
  margin: auto;
  fill: white;
  fill-rule: nonzero;
  stroke:  #c6a7e1;
  stroke-width: 0.25;
  stroke-miterlimit: 1;
}

.clickable {
  fill: #c6a7e1;
  stroke: white;
  cursor: pointer;
  transition: .4s;
}

.highlight .clickable {
  stroke: red;
  stroke-width: 3px;
}

.clickable:hover {
  fill: purple;
}

:focus {
  outline: none
}
