.small-map-container {
  width: 768px;
  height: 608px;
  margin: auto;
}

.flag {
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin: 4px;
  height: 150px;
  cursor: pointer;
  transition: .2s;
  opacity: .9;
}
.flag:hover {
  border:  1px solid rgba(0, 0, 0, 0.4);
  opacity: 1;
}

.main-content {
  text-align: center;
}
