ion-toolbar {
  text-align: center;
}

app-guitarist-info {
  overflow: auto;
}

.flag-container {
  width: 100%;
  display: flex;
}

.flag {
  border: 1px solid black;
  margin: 24px auto;
  width: 200px;
}
